{{#each this}}
    <li class="menu__item">
            <h2 class="card__name">{{name}}</h2>
            <h2 class="card__name">{{capital}}</h2>
            {{#each languages}}
            <h2 class="card__name">{{name}}</h2>
            {{/each}}
    </li>
{{/each}}
  

